html,
body {
    font-family: apercu, sans-serif;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-800 {
    font-weight: 900;
}

.spacing {
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;
}

.container {
    max-width: 1400px;

}

@media (max-width: 1200px) {
    .container {
        max-width: 972px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 980px;
    }
}
@media (max-width: 780px) {
    .container {
        max-width: 95%;
    }
}